@model WebApplication1.Models.Celular

@{
    ViewBag.Title = "Editar Celular";
}

<h2>Editar Celular</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-group">
        @Html.LabelFor(m => m.Marca)
        @Html.TextBoxFor(m => m.Marca, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Marca)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Numero, new { @class = "form-control", @id = "Numero" })
            @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Novo)
        <div class="checkbox">
            @Html.CheckBoxFor(m => m.Novo)
            @Html.ValidationMessageFor(m => m.Novo)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DataCompra)
        @Html.TextBoxFor(m => m.DataCompra, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(m => m.DataCompra)
    </div>

    <button type="submit" class="btn btn-success">Salvar Alterações</button>
    @Html.ActionLink("Voltar", "Listar", null, new { @class = "btn btn-secondary" })
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

    <script>
    $(document).ready(function () {
        $('#Numero').mask('(00) 00000-0000', { placeholder: '' });

        $('form').submit(function () {
            var numeroSemMascara = $('#Numero').cleanVal();
            $('#Numero').val(numeroSemMascara);
        });
    });
    </script>
}
