@model WebApplication1.Models.Celular

@{
    ViewBag.Title = "Exibir";
}

<h2>Exibir Celular</h2>

<div>
    <h4>Celular</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Model.NumeroFormatado
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Novo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Novo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCompra)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Voltar", "Listar", null, new { @class = "btn btn-secondary" })
</p>
