@model WebApplication1.Models.Carro

@{
    ViewBag.Title = "Cadastrar Carro";
}

<h2>Cadastrar Carro</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Placa)
        @Html.TextBoxFor(m => m.Placa, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Placa)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Ano)
        @Html.TextBoxFor(m => m.Ano, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Ano)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Cor)
        @Html.TextBoxFor(m => m.Cor, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Cor)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DataFabricacao)
        @Html.TextBoxFor(m => m.DataFabricacao, new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(m => m.DataFabricacao)
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
    @Html.ActionLink("Voltar", "Listar", null, new { @class = "btn btn-secondary" })
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
